<ul class="list-group">
  <li
    class="list-group-item"
    placement="right"
    [ngbPopover]="popContent"
    [autoClose]="'outside'"
  >
    <ng-template #popContent>
      Mark complete?
      <input
        type="checkbox"
        [checked]="task.completed"
        aria-label="Checkbox for completing the task"
        (click)="toggleCompletion(task._id, task.completed ? false : true)"
      />
      <hr />
      <!-- prettier-ignore -->
      Created on: {{ task.created_at | date: "short" }}
      <br />
      <ng-template [ngIf]="task.completed">
        Completed at: {{ task.completed_at | date: "short" }}
      </ng-template>
    </ng-template>
    <p>
      {{ task.title }}
    </p>
  </li>
</ul>
