<div class="container">
  <h3>Welcome to TaskSimple!</h3>
  <p>
    TaskSimple is a lightweight and flexible task list built to help keep your
    day on track. TaskSimple provides easy to use add, edit, and remove task
    functionality. Use TaskSimple for things like your daily work tasks, a
    cleaning or grocery list, etc.
    <br />
    <br />
    TaskSimple is available in two flavors: a no-ads free version, where tasks
    are only available until the close of the browser session. Or a paid
    version, where tasks can be saved for as long as you need them. Access to
    the free version does not require an account, see below to get started:
  </p>
  <div>
    <ng-template [ngIf]="sessionStorageAccess">
      <!-- TODO: Determine whether or not the <app-task-list> component can be used here -->
    </ng-template>
    <ng-template [ngIf]="!sessionStorageAccess">
      <!-- TODO: Dispaly an error message -->
    </ng-template>
  </div>
</div>
