<div class="container">
  <div class="row justify-content-center">
    <div class="col-4" style="padding-top: 10px">
      <h4 class="text-center">Log In</h4>
      <div *ngIf="loginError" class="alert alert-danger" role="alert">
        {{ loginErrorMessage }}
      </div>
      <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
        <div id="user-inputs">
          <div class="form-group">
            <label for="email">Email</label>
            <div
              *ngIf="!email.valid && email.touched && email.dirty"
              class="alert alert-danger"
              id="emailError"
              role="alert"
            >
              Please enter a valid email
            </div>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              #email="ngModel"
              name="email"
              email
              required
            />
            <label for="password">Password</label>
            <div
              *ngIf="!password.valid && password.touched && password.dirty"
              class="alert alert-danger"
              id="passwordError"
              role="alert"
            >
              Please enter a valid password:
              <br />
              <!-- prettier-ignore -->
              - Must be at least eight characters
            </div>
            <input
              type="password"
              id="password"
              class="form-control"
              ngModel
              #password="ngModel"
              name="password"
              required
              minlength="8"
            />
          </div>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!loginForm.valid"
        >
          Log In
        </button>
      </form>
      <div style="padding-top: 10px">
        <a routerLink="/user/signup">Don't have an account? Sign up now</a>
        <a routerLink="/forgot_password">Forgot your password? Reset it</a>
      </div>
    </div>
  </div>
</div>
